{% extends 'base.html' %}
{% block title %}Visit Info{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/datatable.css">
<link rel="stylesheet" type="text/css" href="../static/patientinfo.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
  $(document).ready( function () {
    $('#med_table').DataTable({
      searching:false
    });
    $('#visit_table').DataTable({
      searching:false,
      scrollX:true,
      columnDefs: [
      { "width": "65px", "targets": 0 },
      { "width": "10px", "targets": 1 },
      { "width": "10px", "targets": 2 },
      { "width": "30px", "targets": 3 },
      { "width": "150px", "targets": 4 },
      { "width": "150px", "targets": 5 },
      { "width": "150px", "targets": 6 },
      { "width": "150px", "targets": 7 },
      { "width": "150px", "targets": 8 },
      { "width": "150px", "targets": 9 }
    ],
    });
    $('#curr_med_table').DataTable({
      paging:false,
      searching:false
    });
  });
</script>

<div class="page-header">
      <h1>New Visit for {{patient.name_first}} {{patient.name_last}}</h1>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <h2>Visit Info</h2>
              <div id="visit_info">
                <form class="form-horizontal" method="POST" action="{{ url_for('main.newvisit',patient_id=patient.id)}}">
                  <fieldset>
                    <p>Date: 
                    <input type="date" name="visitdate" id="visitdate">
                    &emsp;&emsp;Weight (kg): 
                    <input type="number" step="0.01" name="weight" id="weight">
                    &emsp;&emsp;Height (cm): 
                    <input type="number" step="0.01" name="height" id="height">
                    &emsp;&emsp;Doctor Name: 
                    <input type="text" name="doctor_name" id="doctor_name"></p>
                    Symptoms: 
                    <input class="text" type="text" name="symptoms" id="symptoms"><br>
                    Diagnostics:
                    <input class="text" type="text" name="diagnostics" id="diagnostics"><br>
                    Comobordities:
                    <input class="text" type="text" name="comorbidities" id="comorbidities"><br>
                    Clinical Progress:
                    <input class="text" type="text" name="clinical_progress" id="clinical_progress"><br>
                    Support Services:
                    <input class="text" type="text" name="support_services" id="support_services"><br><br>
                    <button type="submit">Done</button><br>
                  </fieldset>
                </form>
              </div>
              <h2>Current Medication</h2>
              {% if current_med %}
              <div>
                <table id="curr_med_table" class="display">
                  <thead>
                    <tr>
                      <th>Medication</th>
                      <th>Dose</th>
                      <th>Frequency</th>
                      <th>Start Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for med in current_med %}
                        <tr>
                          <td>{{med.med_name}}</td>
                          <td>{{med.dose}}</td>
                          <td>{{med.frequency}}</td>
                          <td>{{med.startdate}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <br>
                {% else %}
                <p>No current medication</p>
                {% endif %}
                <br><br>
              <button type="button" class="collapsible">History</button>
              <div class=content>
                <br>
                <p>History: {{history.medical_history}}</p>
                <p>Treatment: {{history.treatment}}</p>
              </div><br>
              <button type="button" class="collapsible">All Visits</button>
              <div class=content>
                <br>
                <table id="visit_table" class="display">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Weight (kg)</th>
                      <th>Height (cm)</th>
                      <th>Doctor Name</th>
                      <th>Symptoms</th>
                      <th>Diagnostics</th>
                      <th>Comorbidities</th>
                      <th>Treatment</th>
                      <th>Clinical Progress</th>
                      <th>Support Services</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for visit in visits %}
                        <tr>
                          <td>{{visit.visitdate}}</td>
                          <td>{{visit.weight}}</td>
                          <td>{{visit.height}}</td>
                          <td>{{visit.doctor_name}}</td>
                          <td>{{visit.symptoms}}</td>
                          <td>{{visit.diagnostics}}</td>
                          <td>{{visit.comorbidities}}</td>
                          <td>{{visit.treatment}}</td>
                          <td>{{visit.clinical_progress}}</td>
                          <td>{{visit.support_services}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div><br>
              <button type="button" class="collapsible">All Medication</button>
              <div class=content>
                <br>
                <table id="med_table" class="display">
                  <thead>
                    <tr>
                      <th>Medication</th>
                      <th>Dose</th>
                      <th>Frequency</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for med in all_med %}
                        <tr>
                          <td>{{med.medication}}</td>
                          <td>{{med.dose}}</td>
                          <td>{{med.frequency}}</td>
                          <td>{{med.startdate}}</td>
                          <td>{{med.enddate}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div><br>
            </div>
          </div>


<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }

</script>
{% endblock %}
